In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import metrics
from sklearn.metrics import accuracy_score

%matplotlib inline
sns.set_style('whitegrid')

In [2]:
data = pd.read_csv('problem_2/train.csv')
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [3]:
data.isnull().sum()

srno                   0
mobmake                0
hubid                  0
hubpincode             0
pickuppartnerid        0
deliverypartnerid      0
insuranceCompanyId     0
custpincodecategory    0
claimtype              0
custpincode            0
memcreateddate         0
mobilepurchasedate     0
claimintdate           0
servicecntrid          0
pickupStartdate        0
tat_in_days            0
dtype: int64

In [4]:
data.describe(include='all')

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
count,6.250000e+03,6250,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250,6250,6250.000000,6250,6250,6250,6250.000000,6250,6250.000000
unique,NaN,38,NaN,NaN,NaN,NaN,NaN,5,2,NaN,624,782,81,NaN,83,NaN
top,NaN,AN,NaN,NaN,NaN,NaN,NaN,A,ADLD,NaN,2017-10-23,2017-05-02,2018-01-31,NaN,2018-02-26,NaN
freq,NaN,2497,NaN,NaN,NaN,NaN,NaN,4020,6246,NaN,44,63,117,NaN,152,NaN
mean,2.946134e+06,NaN,11.732000,340546.139840,232.654400,231.495360,155.040480,NaN,NaN,366009.473440,NaN,NaN,NaN,4457.158080,NaN,12.730400
std,7.733480e+04,NaN,9.141463,213449.097822,30.471658,22.521945,41.883918,NaN,NaN,210990.167946,NaN,NaN,NaN,200.945634,NaN,5.075533
min,2.818359e+06,NaN,0.000000,0.000000,0.000000,0.000000,131.000000,NaN,NaN,0.000000,NaN,NaN,NaN,4008.000000,NaN,2.000000
25%,2.877226e+06,NaN,3.000000,110018.000000,233.000000,233.000000,131.000000,NaN,NaN,135034.000000,NaN,NaN,NaN,4398.000000,NaN,9.000000
50%,2.944426e+06,NaN,8.000000,400001.000000,233.000000,233.000000,131.000000,NaN,NaN,395001.500000,NaN,NaN,NaN,4474.000000,NaN,12.000000
75%,3.012237e+06,NaN,21.000000,500004.000000,233.000000,233.000000,131.000000,NaN,NaN,560016.000000,NaN,NaN,NaN,4580.000000,NaN,15.000000
max,3.101035e+06,NaN,27.000000,800001.000000,308.000000,245.000000,228.000000,NaN,NaN,855107.000000,NaN,NaN,NaN,5146.000000,NaN,57.000000

In [5]:
remove = ['srno','hubpincode','custpincode','memcreateddate','mobilepurchasedate']
data.drop(columns=remove,inplace=True)

In [6]:
len(data.pickupStartdate.unique())

83

In [7]:
data.tat_in_days.describe()

count    6250.000000
mean       12.730400
std         5.075533
min         2.000000
25%         9.000000
50%        12.000000
75%        15.000000
max        57.000000
Name: tat_in_days, dtype: float64

In [8]:
from sklearn.preprocessing import LabelEncoder
features = ['mobmake','hubid','pickuppartnerid','deliverypartnerid','insuranceCompanyId','custpincodecategory','claimtype','claimintdate','servicecntrid','pickupStartdate']

enc = LabelEncoder()
for col in features:
    data[col] = enc.fit_transform(data[col])

In [9]:
data.head()

,mobmake,hubid,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,12,7,2,2,0,1,0,9,49,13,5
1,8,10,2,2,0,1,0,5,74,8,12
2,8,2,2,2,1,1,0,4,39,12,9
3,11,2,2,2,1,2,0,5,23,14,9
4,12,14,2,2,0,1,0,10,128,14,8

In [10]:
X = data[features]
y = data['tat_in_days']

In [11]:
X.head()

,mobmake,hubid,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,claimintdate,servicecntrid,pickupStartdate
0,12,7,2,2,0,1,0,9,49,13
1,8,10,2,2,0,1,0,5,74,8
2,8,2,2,2,1,1,0,4,39,12
3,11,2,2,2,1,2,0,5,23,14
4,12,14,2,2,0,1,0,10,128,14

In [12]:
# Splitting given training data further into train and test, in order to make accurate predictions ( 80% - 20% )
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,test_size=0.2)

In [13]:
# Model 1
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

linreg.fit(X_train,y_train)
y_pred = linreg.predict(X_test)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

5.109055187546952

In [14]:
# Model 2
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=31)

knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

4.944736677686138

In [15]:
# Model 3
from sklearn.ensemble import GradientBoostingRegressor
grad = GradientBoostingRegressor()

grad.fit(X_train,y_train)
y_pred = grad.predict(X_test)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

4.616159936895069

In [16]:
# Model 4
from sklearn.ensemble import RandomForestRegressor
rand_for = RandomForestRegressor(n_estimators=50)

rand_for.fit(X_train,y_train)
y_pred = rand_for.predict(X_test)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

4.8802101112983705

In [17]:
# Model 5
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree=2)
X_poly = poly_reg.fit_transform(X_train)

poly_reg_model = LinearRegression()
poly_reg_model.fit(X_poly,y_train)

y_pred = poly_reg_model.predict(poly_reg.fit_transform(X_test))
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

4.88336242359763

In [18]:
# Model 6
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor(random_state=0)

tree_reg.fit(X_train,y_train)
y_pred = tree_reg.predict(X_test)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

6.003494834029778

In [19]:
# Model 7
from sklearn.linear_model import SGDRegressor

# scaling data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_sc = scaler.transform(X_train)
X_test_sc = scaler.transform(X_test)

sgd = SGDRegressor(loss="squared_loss",average=True)
sgd.fit(X_train_sc, y_train)
y_pred = sgd.predict(X_test_sc)
err_rms = (sum((y_test-y_pred)**2)/len(y_test))**(0.5)
print(err_rms)

5.115729154811568

In [20]:
# Comparing all the root mean square errors, Gradient Boosting Regressor is chosen as best fit model.

In [21]:
test = pd.read_csv('problem_2/test.csv')

In [22]:
proc = test.copy()
remove = ['srno','hubpincode','custpincode','memcreateddate','mobilepurchasedate']
proc.drop(columns=remove,inplace=True)

from sklearn.preprocessing import LabelEncoder
features = ['mobmake','hubid','pickuppartnerid','deliverypartnerid','insuranceCompanyId','custpincodecategory','claimtype','claimintdate','servicecntrid','pickupStartdate']

enc = LabelEncoder()
for col in features:
    proc[col] = enc.fit_transform(proc[col])

In [23]:
X_test = proc[features]
test['tat_in_days'] = grad.predict(X_test)
test.to_csv('problem_2/predicted.csv',encoding='utf-8',index=False)